/* *****************
Base styles
***************** */

body {
	color: #FFFFFF;
	background-color: #245570;
}

a {color: #FFFFFF;}

/* *****************
Layout styles
***************** */

/*site general*/
.container {
	position: relative;
	width: 85%;	
	max-width: 1200px;
	margin: 0 auto;
}


/* *****************
Module styles
***************** */

.left-leading, .right-leading {
	color: #092534;
	background-color: #97725E;
}

.left-leading h4, .right-leading h4 {background-color: #95B090;}

.left-leading p, .right-leading p {background-color: #BF957E;}


/* *****************
State styles
***************** */
