/* *****************
Base styles
***************** */

body {
	color: #FFFFFF;
	background-color: #245570;
}

a {color: #FFFFFF;}

/* *****************
Layout styles
***************** */

/*site general*/
.container {
	position: relative;
	width: 85%;	
	max-width: 1200px;
	margin: 0 auto;
}


/* *****************
Module styles
***************** */

.page-top, .page-bottom {
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;
  	grid-gap: 10px;

  	margin: 20px;
}

.page-top header {grid-column: 1 / span 1;}

.page-top nav {grid-column: 2 / span 2;}

.page-bottom footer {grid-column: 1 / span 2;}

.left-leading, .right-leading {
	color: #092534;
	background-color: #97725E;
}

.left-leading h4, .right-leading h4 {background-color: #95B090;}

.left-leading p, .right-leading p {background-color: #BF957E;}


/* *****************
State styles
***************** */
